header {
    text-align: center;
    height: 300px;
}

section {
    height: 500px;
}

table {
    border: 1px solid black;
    width: 45%;
}
th,td {
    border: 1px solid black;
}

form{
    display: flex;
    flex-flow: column;
}

th {
    height: 20px;
}
tbody {
    min-height: 50px;
}

.second{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.second, .fourth {
    
    background-color: #DBB3B1;
}

#container {
    width: 95%;
    border: 1px solid black;
    margin: 20px auto;
    background-color: #fff;
}

