header {
    text-align: center;
    height: 300px;
}

section {
    height: 500px;
}

.second, .fourth {
    
    background-color: #DBB3B1;
}

#container {
    width: 95%;
    border: 1px solid black;
    margin: 20px auto;
    background-color: #fff;
}

